node_modules
lib
*.tgz
dist
.DS_Store
*.lock
xcuserdata
ios/Pods
/ios/BTFuseNativeView/assets/BTFuseNativeViewOverlay.js
/android/nativeview/src/main/res/raw/btfuse_nativeviewoverlay.js
/BTFuseNativeView.podspec
/ios/BTFuseNativeView/VERSION.xcconfig